#main {
  padding-top: 12rem;

  @media screen and (max-width: $bp-sm) {
    padding-top: 10rem;
  }
}

.photo-slider,
.primary-photo {
  will-change: opacity;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
  }
}

.primary-photo__new.fade-out {
  transition: none;
}
