$theme-dark: #1c1c1c;
$theme-light: #ffffff;
$theme-highlight: #edcdaf;
$font-default: "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
$font-header: "Lora", "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
$bp-lg: 1170px;
$bp-md: 840px;
$bp-sm: 650px;
$bp-xs: 380px;
